[submodule "_lib/ubiquitous_bash"]
	path = _lib/ubiquitous_bash
	url = git@github.com:mirage335/ubiquitous_bash.git
[submodule "_lib/arduinoUbiquitous"]
	path = _lib/arduinoUbiquitous
	url = git@github.com:mirage335/arduinoUbiquitous.git
